<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta id="_csrf" name="_csrf" content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}" />

    <meta charset="UTF-8">
</head>
<body>
<form method="post" action="/signUp">
    <div class="container">
        <h1>회원 가입</h1>
        <div class="form-group">
            <label for="inputId">Id</label>
            <input type="text" class="form-control" id="inputId" name="userId" placeholder="사용자 아이디">
        </div>
        <div class="form-group">
            <label for="inputEmail4">email</label>
            <input type="email" class="form-control" id="inputEmail4" name="userEmail" placeholder="사용자 이메일">
        </div>
        <div class="form-group">
            <label for="inputNumber">phone number</label>
            <input type="text" class="form-control" id="inputNumber" name="userNumber" placeholder="사용자 전화번호">
        </div>

        <div class="form-group">
            <label for="inputName">userName</label>
            <input type="text" class="form-control" id="inputName" name="userName" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name="userAddress" placeholder="사용자 집 주소">
        </div>
        <div class="form-group">
            <label for="inputAge">Age</label>
            <input type="text" class="form-control" id="inputAge" name="userAge" placeholder="사용자 나이">
        </div>
        <div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password" class="form-control" id="inputPassword4" name="userPw" placeholder="사용자 비밀번호">
        </div>
        <button type="submit" class="btn btn-primary">가입 신청</button>
    </div>
</form>

</body>
</html>